nav{
    background-color: #003366;
    overflow: hidden;
}
nav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover{
    background-color: #ddd;
    color: black;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    color: #003366;
    text-align: left;
    margin-top: 20px;
    padding: 0% 20px;
}
p{
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
}
.Buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    
}
footer{
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
